# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Data / private files
data/raw/*
data/processed/*
data/vectorstore/*

# Keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/vectorstore/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
